h1{
    text-align: center;
}
label{
    font-size: 0.9rem;
}
#leftBox{
    float: left;
    width: 40%;
}
#rightBox{
    float: right;
    width: 60%;
}
#oneDayBox{
    width: 80%;
    margin: 0 auto;
}
#textBox{
    font-size: 0.8rem;
    margin: 0 auto;
    background-color: #EEEEEE;
    height: 40vh;
    margin-left: 10%;
    overflow:scroll;
}
#oneWeekBox{
    width: 65%;
    margin: 0 auto;
    padding: 1%;
}
#oneMonthBox{
    width: 65%;
    margin: 0 auto;
    padding: 1%;
}
label{
    font-size: 1.0rem;
    text-decoration: underline;
}
td{
    font-size: 0.8rem;
    color: gray;
}